.superWheel { position: relative; max-width: 100%; margin: 4em auto 1em; font-size: 25px; font-weight: bold; }
.superWheel, .superWheel * { box-sizing: border-box; user-select: none; }
.sWheel-wrapper { position: relative; }
.superWheel .sWheel-inner { display: block; overflow: hidden; width: 100%; height: 100%; position: relative; }
.superWheel .sWheel { border-radius: 100%; overflow: hidden; }
.superWheel .sWheel, .superWheel .sWheel > .sWheel-bg-layer, .superWheel .sWheel > .sWheel-txt-wrap, .superWheel .sWheel > .sWheel-txt-wrap > .sWheel-txt { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.superWheel .sWheel > .sWheel-txt-wrap > .sWheel-txt, .superWheel .sWheel > .sWheel-bg-layer { margin: 0px auto; border-radius: 100%; padding: 0px; list-style: outside none none; overflow: hidden; color: rgb(236, 240, 241); }
.superWheel .sWheel > .sWheel-txt-wrap, .superWheel .sWheel > .sWheel-bg-layer { transform: rotate(-90deg); }
.superWheel .sWheel .sWheel-child .sWheel-inside { display: table; transform: rotate(0deg) skew(-45deg); width: 50%; height: 50%; transform-origin: 0px 0px 0px; text-align: right; box-sizing: border-box; overflow: hidden; }
.superWheel .sWheel .sWheel-child .sWheel-inside > div { display: table-cell; vertical-align: middle; width: 100%; height: 100%; transform: rotate(25deg); transform-origin: 115% 25% 0px; padding-right: 40px; font-size: 18px; font-weight: bold; }
.superWheel .sWheel > .sWheel-bg-layer > div { overflow: hidden; position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; transform-origin: 0px 0px 0px; border: 1px solid transparent; background-color: rgb(64, 64, 64); }
.superWheel .sWheel > .sWheel-bg-layer > div:nth-child(2n+1) { background-color: rgb(97, 97, 97); }
.superWheel .sWheel > .sWheel-txt-wrap > .sWheel-txt > div { position: absolute; top: 50%; left: 50%; box-sizing: border-box; line-height: 1.2em; max-height: 23.4em; transform-origin: 0px 1px 0px; width: 50%; padding-right: 6%; font-weight: bold; font-size: 100%; cursor: default; color: rgb(255, 255, 255); text-align: right; }
.superWheel .sWheel > .sWheel-txt-wrap > .sWheel-txt > div img { max-width: 40%; }
.superWheel .sWheel-center { width: 100%; height: 100%; border-radius: 100%; text-align: center; }
.superWheel .sWheel-center > .sw-center-empty, .superWheel .sWheel-center > .sw-center-html { max-width: 100%; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); z-index: 2; }
.superWheel .sWheel-center > .sw-center-empty { position: absolute; }
.superWheel .sWheel-center > img { max-width: 100%; width: 200px; position: relative; top: 50%; transform: translateY(-50%); }
.superWheel .sWheel-center > div { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: transparent none repeat scroll 0% 0% !important; }
.superWheel .sWheel-marker { border-spacing: 90px; width: 16%; height: 14%; position: absolute; left: 50%; top: -18%; margin-top: 7%; margin-left: -8%; z-index: 1; display: block; transform: rotate(0deg); transform-origin: 50% 35% 0px; }
.superWheel .sWheel-marker > svg { height: 100%; display: block; text-align: center; margin: 0px auto; }
.superWheel .rotate { transform: rotate(100deg); }
.sWheel > .sWheel-bg-layer > svg { margin: 0px auto; border-radius: 50%; display: block; width: 100%; height: 100%; transform: rotate(0deg); }
@keyframes animateColor {
0% { background-position: 0% 50%; }
50% { background-position: 100% 50%; }
100% { background-position: 0% 50%; }
}
@keyframes animateColor {
0% { background-position: 0% 50%; }
50% { background-position: 100% 50%; }
100% { background-position: 0% 50%; }
}